<h1>Productos actualmente en la tienda</h1>

{{#each products}}
  <h4>{{title}}</h4>
  <p>Price: {{price}}</p>
  <p>Decription: {{description}}</p>
  <p>Category: {{category}}</p>
  <p>ID: {{id}}</p>
  <br>
{{/each}}